# Supabase PostgreSQL Production Database Connection
DATABASE_URL=postgresql://postgres.finbjiltcpapyrvxxltz:[YOUR-PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres
ADMIN_USERNAME=Vel Tech SIH
ADMIN_PASSWORD=veltechsmarthack123
